<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create an ingredient:</h3>

    <form class="form new-ingredient-form">
      <div class="form-group">
        <label for="ingredient-name">ingredient name:</label>
        <input class="form-input" type="text" id="ingredien--name" name="ingredient-name" />
      </div>
      <div class="form-group">
        <label for="ingredient-cost">ingredient cost ($):</label>
        <input class="form-input" type="number" id="ingredient-cost" name="ingredient-cost" />
      </div>
      <div class="form-group">
        <label for="is-purchased">is Purchased:</label>
        <textarea class="form-input" id="is-purchased" name="is-purchased"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

{{#if ingredients.length}}
  <div class="col-md-6 ingredient-list">
    <h3>Current Ingredient:</h3>

    {{#each ingredients as |ingredient|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/ingredient/{{ingredient.id}}">{{ingredient.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{ingredient.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
<script src="./js/dashboard.js"></script>
