<div class="grid grid-cols-2 gap-1 items-center">  
  <div class="col-span-1"><img src="assets/GroceryPhoto.jpg"/></div>
  <div class="col-span-1">
    <h1 class="text-3xl font-bold">Welcome!</h1>
    <p>Login to your account</p>

    <div class="row-span-1 col-span-1 pt-4">
      <div class="flex flex-row">
        <div class="basis-1/2 mx-5">
          <form class="form login-form mb-5">
              <div class="form-group mb-5">
                <input type="text" required id="name-login" placeholder="USERNAME" class="form-control block w-full px-3 py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-black
                      rounded-lg
                      transition
                      ease-in-out
                      m-0
                      focus:border-black" />
              </div>
              <div class="form-group mb-5">
                <input 
                  type="password" required
                  id="password-login"
                  placeholder="PASSWORD" 
                  class="form-control block w-full px-3 py-1.5
                      text-base
                      font-normal
                      text-gray-700
                      bg-white bg-clip-padding
                      border border-solid border-black
                      rounded-lg
                      transition
                      ease-in-out
                      m-0
                      focus:border-black" />
              </div>
              <div class="form-group">
                <button class="bg-gray-900 hover:bg-gray-600 text-white py-2 px-4 rounded" type="submit">Login</button>
              </div>
          </form>
          <a href="/signup" class="bg-white hover:hover:text-gray-600 focus:text-gray-600">Don't have an account yet? Signup</a>
        </div>
      </div>
    </div>
  </div>  
</div>

<script src="./js/login.js"></script>
<script src="/js/bouncer.js"></script>
