* {
    box-sizing: border-box;
  }

body {
  font-family: 'Poppins', sans-serif;
}

/**
 * Form Validation Errors
 */
 .error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}

.welcome {
	font-size: xx-large;
}

@media only screen and (max-width: 576px) {
	.welcome {
		font-size: medium;
	}
	
	.login {
		font-size: small;
	}

	.signup {
		font-size: small;
	}
}