* {
    box-sizing: border-box;
  }

body {
  font-family: 'Poppins', sans-serif;
}

/**
 * Form Validation Errors
 */
 .error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}
